SUB 0
INC
STORE 1
INC
STORE 2
INC
STORE 3
SUB 0
INC
PUT
SUB 0
INC
PUT
SUB 0
DEC
SHIFT 1
PUT
SUB 0
INC
SHIFT 3
INC
INC
PUT
SUB 0
DEC
SHIFT 3
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
PUT
SUB 0
INC
SHIFT 3
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
SHIFT 3
SHIFT 1
PUT
SUB 0
DEC
SHIFT 3
DEC
SHIFT 3
DEC
SHIFT 3
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
SHIFT 3
SHIFT 3
DEC
SHIFT 3
DEC
DEC
DEC
SHIFT 3
DEC
DEC
SHIFT 3
DEC
DEC
PUT
SUB 0
INC
SHIFT 3
INC
SHIFT 3
INC
SHIFT 3
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
STORE 4
SUB 0
DEC
SHIFT 3
DEC
DEC
SHIFT 3
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
SHIFT 3
SHIFT 3
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 2
DEC
STORE 5
SUB 0
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
STORE 6
SUB 0
DEC
SHIFT 3
SHIFT 3
DEC
DEC
SHIFT 3
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
SHIFT 3
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
SHIFT 2
DEC
DEC
DEC
STORE 15
SUB 0
INC
SHIFT 3
SHIFT 3
INC
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
SHIFT 1
STORE 20
SUB 0
INC
SHIFT 3
INC
INC
INC
STORE 28
SUB 0
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
DEC
STORE 13
SUB 0
INC
SHIFT 3
SHIFT 3
INC
INC
SHIFT 3
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
INC
SHIFT 3
INC
INC
INC
SHIFT 3
INC
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
SHIFT 3
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
STORE 21
SUB 0
INC
SHIFT 3
INC
INC
INC
INC
INC
INC
INC
SHIFT 3
INC
SHIFT 3
INC
INC
INC
INC
SHIFT 3
INC
STORE 32
SUB 0
DEC
SHIFT 3
SHIFT 3
SHIFT 3
SHIFT 2
STORE 22
SUB 0
DEC
SHIFT 3
DEC
DEC
DEC
DEC
DEC
DEC
DEC
SHIFT 3
DEC
DEC
DEC
STORE 23
LOAD 13
STORE 10
LOAD 4
STORE 27
STORE 27
STORE 8
GET
STORE 24
SUB 0
INC
STORE 25
ADD 6
STORE 26
LOAD 26
PUT
LOAD 6
PUT
LOAD 10
PUT
LOAD 15
PUT
LOAD 8
PUT
LOAD 13
PUT
LOAD 28
PUT
LOAD 27
PUT
LOAD 32
PUT
HALT
